
/*
find out how to do this: don't break on em dash!
and live forever—”
*/

/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "caslon";
  src: url("caslon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  font-family: "caslon", "Times", "serif";
/*
  background-color: #eee;
*/
}


.main {
  min-height: 100%;
  margin-bottom: 4em;
  padding:1.5em;
}
.main:after {
  content:"";
  display:block;
}



h1, h2 {
  text-align: center;
}
/*
  background-color: tan;
  padding: 0.5em;
*/


/*
.mt, .mt2, .mt3 {
  font-weight: normal;
  font-size: 1.2em;
  text-align:center;
  margin-top:1.5em;
  margin-bottom:2em;
}
.mt {
  font-size: 1.5em;
}
.mt2 {
  font-size: 1.2em;
}
*/
.booklabel {
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 1.5em;
}

.chapterlabel {
  margin-top:1em;
  font-size:1.1em;
}
.psalmlabel {
  margin-top:2.5em;
  margin-bottom:0.5em;
  font-size:1.3em;
/*
  background-color: #fdf;
*/
}




a {
  text-decoration: none;
}


footer {
  text-align: center;
  margin-top: 4em;
}
#version {
  color: #777777;
  font-family: sans;
}

/* -------------------------------------------------------------------------- */
/* index page */




div.booklist {
  display: block;

  width: 12.25em;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 3em;
/*
  padding: 1em;
  background-color: tan;
  background-color: #963;
*/
}


ul.nav {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

/*
li {
  background-color: #b85;
}
*/

.booknav a {
  display: block;
}
.nav a {
  background-color: #0080ff;
  padding: 0.4em;
  margin: 0.08em;
}
.chapnav a {
  /* switch this to inline-block to get links */
  /* switch to none to disable links */
  display: inline-block;
/*
  display: none;
*/
  min-width: 32px;
  text-align: center;
/*
  min-height: 32px;
  background-color: #777777;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.4em;
  vertical-align: middle;
  margin-top: 5em;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
*/
}
.chapnav {
  text-align: center;
}


.nav a:visited {color: #ffffff;}
.nav a:link {color: #ffffff;}
.nav a:hover {color: #ffffff;
  background-color: #777777 !important;}







/*
ul.cnav {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}
*/

/*
li {
  background-color: #b85;
}
*/

/*
.cnav a {
  display: inline-block;
  background-color: #0080ff;
  padding: 0.4em;
  margin: 0.08em;
}

.cnav a:visited {color: #ffffff;}
.cnav a:link {color: #ffffff;}
.cnav a:hover {color: #ffffff;
  background-color: #777777 !important;}
*/










/* -------------------------------------------------------------------------- */
/* scripture */

p {
  line-height: 1.3em;
  text-indent: 2em;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
/*
  display: block;
  background-color: #ffc;
  font-size: 1em;
  margin-top: 0.5em;
*/
}

.p1 {
  text-indent: 0;
}



/* non breaking. only 1sa 4, gen 50, jer 33, john 8 */
/* this is awkward. turning it off. */
/*
.nb {text-indent: 0em; margin-top: 0.5em}
*/

/* bk for Num21:14 The Book of the Wars of Yahweh */
/* don't add bold and italic. */
/* it's peculiar enough that "The", "Book", and "Wars" are capitalized. */
/*
.bk {font-weight:bold;font-style:italic}
*/

/* psalms heading, like A Psalm By David, or ALEPH */
.d {
  display: block;
  margin-bottom: 0.3em;
  margin-top: 0.7em;
  font-size: 0.9em;
  font-weight:bold;
  text-indent: 0;
}

/* li: ezra 8, 10, neh7. an indented list */
.li1 {
  display: list-item;
  list-style-type: none;
}

/* various, especially Joshua 12. basically a non-indented list? */
/*
.m {margin-top: 0;}
*/

/* ezra 7, etc. for indented letters, decrees, etc. */
.mi {
/*
  text-indent: 2em;
  margin-top: 0;
*/
}

/* hab and psalms. selah on right */
.qs {
  text-align: right;
}

/* sp: song of song, for titles lover, beloved, friends */
.sp {
  margin-top: 0.5em;
  font-style: italic;
}

/* words of yahushua in red */
/*
there may be doctrine issues with red lettering 
.wj {color: rgb(128,0,0);}
*/

/* pi: only dan, ezr, jer. double-indented. awkward in dan 4 */
.pi1 {
  margin-left: 2em;
}
/*
  text-indent: 2em;
  margin: .5em 0 0 2em;
*/


/* psalms, songofsol, daniel 4, etc. */

html[dir=ltr] .q1 {
  text-indent: -2em;
  margin-left: 2em;
}
html[dir=ltr] .q2 {
  text-indent: -1em;
  margin-left: 2em;
}
.q1 {
  text-indent: -2em;
  margin-left: 2em;
}
.q2 {
  text-indent: -2em;
  margin-left: 2em;
}

/* psalms books (major sections) only */
.ms1 {
  margin-top: 2em;
}


/* verse numbers */
sup {
  white-space: nowrap;
  font-size: .6em;
  line-height: 0;
}
/*
  vertical-align: super;
*/



/* html has line break (nbsp), 1ch, psa, etc. */
.b {
/*
  display: block;
  margin-left: 12em;
  text-indent: -2em;
*/
}



/* IN-TEXT NOTES */

/* in-text notes */
.popup {position:absolute;bottom:0;display:none;background-color:#ffffd0;border:.1em solid #333;width:15em;height:auto;padding:1em;line-height:1em;text-indent:0em;margin 0.5em 0.5em 0.5em 0.5em}
.notemark:hover .popup {display:block}

/* notemark for in-text notes */
.notemark {vertical-align:super;margin-left:.16em;line-height:0;position: relative;text-decoration:none;color:rgb(0,0,128)}

/* notemark for in-text notes */
.notemark {color:blue;font-size:14pt}






/* no chapter numbers */
.chapterlabel,

/* no verse numbers */
/* this is now already disabled in the html head
*/
sup {
  display: none;
}


/* no main page heading */
.indextitle,

/* no psalm book titles */
/*
.ms1,
*/

/* no full size line breaks */
/*
.b,
*/

/* DO NOT ADD OTHER TITLES OR NOTES */
.mt2, .mt3, .f, .x {
  display: none !important;
  visibility: hidden !important;
}


